.container{
    padding: 100px 100px;
}

button {
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to bottom, rgb(106, 169, 211) , rgb(187, 209, 248));
    border-radius: 8px;
    border: none;
    color: rgb(92, 93, 94);

}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}